.gpt3__cta {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    padding: 3rem;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gpt3__cta p {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(14, 14, 14, 1);
margin-bottom: 10px;
}
.gpt3__cta h2 {
    font-family: var(--font-family);
font-size: 24px;
font-weight: 800;
line-height: 45px;
text-align: left;
margin-bottom: 1.5rem;
}
.gpt3__cta a {
   border-radius: 40px;
   padding: 16px 45px;
background-color: #000;
font-family: var(--font-family);
font-size: 18px;
font-weight: 700;
line-height: 30px;
text-align: center;
color: #fff;
}
@media screen and (max-width: 1350px) {
    .gpt3__cta a {
   width: 250px;
    
    }
    
}
@media screen and (max-width: 1050px) {
    .gpt3__cta {
        padding: 2rem;
        flex-direction: column;
    }
    .gpt3__cta h2 {
        text-align: center;
    }
    .gpt3__cta p {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .gpt3__cta h2 {
        font-size: 24px;
line-height: 34px;
    }
    .gpt3__cta a {
        font-size: 16px;
        padding: 14px;
         }
}