.gpt3__footer {
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gpt3__footer-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  max-width: 950px;
  padding: 175px 0 180px 0;
}
.gpt3__footer-cta h2 {
  font-family: var(--font-family);
  font-size: 62px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
}
.gpt3__footer-cta a {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21.09px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 22px;
  color: #fff;
  cursor: pointer;
}
.gpt3__footer-main {
  display: grid;
  grid-template-columns: 3fr 6fr;
  width: 100%;
}
.gpt3__footer-main img {
  width: 118px;
  height: auto;
  margin-bottom: 25px;
}
.gpt3__footer-main p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
  color: #fff;
}
.gpt3__footer-shortlinks h3 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 16.41px;
  text-align: left;
  color: #fff;
  margin-bottom: 36px;
}
.gpt3__footer-shortlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.gpt3__footer-shortlinks ul {
  list-style: none;
}
.gpt3__footer-shortlinks ul li {
  margin-bottom: 26px;
}
.gpt3__footer-shortlinks ul li a {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
  color: #fff;
}
.gpt3__footer-copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
  color: #fff;
  
}
.gpt3__footer-copyright a {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
  color: var(--color-subtext);
}
.gpt3__footer-copyright {
    padding-top: 83px;
}
.gpt3__footer-copyright p:hover a {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .gpt3__footer-cta {
    gap: 44px;
    padding: 40px 0 80px 0;
  }
  .gpt3__footer-cta h2 {
    font-size: 52px;
    line-height: 65px;
  }
  .gpt3__footer-main {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .gpt3__footer-shortlinks {
    flex-wrap: wrap;
    column-gap: 150px;
    justify-content: flex-start;
  }
  .gpt3__footer-shortlinks ul li {
    margin-bottom: 16px;
  }
  .gpt3__footer-shortlinks ul {
    margin-bottom: 36px;
  }
  .gpt3__footer-shortlinks h3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
    .gpt3__footer-cta h2 {
        font-size: 42px;
        line-height: 55px;
      }
      .gpt3__footer-copyright {
        padding-top: 53px;
    }
}
